@import 'tailwindcss';

/* === Цветовая палитра по макету === */
:root {
    --primary: #1e3a3a; /* тёмно-зелёный фон хедера */
    --accent: oklch(72.3% 0.219 149.579); /* зелёный акцент (Submit/Call) #00c951 */
    --accent-foreground: oklch(62.7% 0.194 149.214); /* #00a63e */

    --background: #ffffff;
    --foreground: #1e293b;

    --color-primary-gradient: linear-gradient(90deg, #1e3a3a, #2c3e50); /* #00a63e */

    --color-bg-soft: #f1f5f9;
    --color-surface: #e9f1ed;
    --color-border: #d1d5db;

    --color-text-muted: #64748b;

    --font-sans: 'Manrope', sans-serif;
}

.dark {
    --color-bg: #0f172a;
    --color-bg-soft: #1e293b;
    --color-surface: #1e293b;
    --color-border: #334155;

    --color-text: #f1f5f9;
    --color-text-muted: #94a3b8;
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary: var(--primary);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
}

/* === BASE === */
@layer base {
    html {
        font-family: var(--font-sans);
        background-color: var(--color-bg);
        color: var(--color-text);
    }

    body {
        @apply text-foreground antialiased;
    }

    /* h1,
    h2,
    h3,
    h4 {
        font-weight: 700;
    } */

    a {
        text-decoration: none;
        color: inherit;
    }
}

/* === COMPONENTS === */
@layer components {
    .btn {
        @apply inline-flex items-center justify-center px-8 py-3 rounded-2xl text-white font-semibold transition;
        background-color: var(--color-accent);
    }

    .btn:hover {
        background-color: var(--color-accent-foreground);
    }

    .header {
        background: var(--color-bg-soft);
        @apply text-foreground;
    }

    .card {
        @apply p-6 rounded-xl shadow-sm bg-white border border-gray-200 hover:shadow-lg transition;
    }

    .input {
        @apply w-full p-3 rounded-md border text-sm;
        background-color: white;
        border-color: var(--color-border);
        color: var(--color-text);
    }
}

/* === UTILITIES === */
@layer utilities {
    .bg-primary {
        background-color: var(--color-primary);
    }

    .bg-gradient {
        @apply bg-gradient-to-r from-gray-900 via-gray-800 to-gray-900
        /* background-color: var(--color-primary-gradient); */;
    }

    .text-muted {
        color: var(--color-text-muted);
    }

    .shadow-soft {
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
    }

    .rounded-xl {
        border-radius: 1.25rem;
    }

    .container-padding {
        padding-left: max(1rem, 5vw);
        padding-right: max(1rem, 5vw);
    }

    .container-padding-l {
        padding-left: max(1rem, 5vw);
    }

    .filter-pill {
        @apply px-4 py-1 border rounded-full text-sm hover:bg-gray-100;
    }
    .filter-pill.active {
        @apply bg-[var(--color-accent)] text-white border-[var(--color-accent)];
    }
}
